@media screen and (max-width: 426px) {
  .adressCard {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .cardAdress {
    max-width: 350px !important;
  }
}

.btnAbout {
  display: flex;
  align-items: center;
}

.adrCard {
  background: url(./images/20200116044637_Abstrakciya_geometriya_5-175.jpeg);
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.adrCard h1 {
  margin-top: 100px;
  text-align: center;
  color: black;
}
