.homepage {
  background: url(./images/main_pic.jpeg) no-repeat center;
  background-size: cover;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .homepage {
    background: url(./images/main_pic_mobile.jpeg) 100% 100% no-repeat;
  }

  .homebtn {
    padding: 25px;
    width: 163px !important;
    height: 141px !important;
  }

  .shadow {
    color: green;
    max-width: 180px !important;
    height: 158px !important;
  }
}

.homebtn:hover {
  background-color: rgb(14, 12, 12) !important;
}

.shadow {
  position: relative;
  z-index: 1;
  max-width: 342px;
  width: 100%;
  height: 140px;
  border-radius: 20px;
  background: linear-gradient(0deg, #000, #262626);
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 30s linear infinite;
}

.shadow::after {
  filter: blur(20px);
}

@keyframes animate {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }
}
